# Windows temp files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# MacOS temp files
.DS_Store
.AppleDouble
.LSOverride
.Trashes

# Ansible
.vaultpassword
ansible/galaxy_roles

# Packer
**/*.pkrvars.hcl
**/downloaded_iso_path/**

# Python
**/__pycache__/**

# Terraform
tf-old
credentials.tfvars
.terraform
.terraform*
credentials.*
