---
- name: Perform Apt Updates on Debian/Ubuntu Systems
  hosts: all
  become: true
  gather_facts: false
  tasks:
    # - name: Modify any HTTP apt repos to use HTTPS
    #   ansible.builtin.include_role:
    #     name: apt_over_https

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Upgrade all packages to the latest version
      ansible.builtin.apt:
        upgrade: dist

    - name: Remove old packages
      ansible.builtin.apt:
        autoremove: true
        autoclean: true
