---
- name: Deploy Proxmox VE Pre-Requisites
  hosts: pve
  become: true
  tasks:
    - name: Ensure sudo is installed for pct_ssh to work
      ansible.builtin.package:
        name: sudo
        state: present

    - name: Ensure curl is installed
      ansible.builtin.package:
        name: curl
        state: present

    - name: Create ansible user
      ansible.builtin.user:
        name: ansible
        comment: Ansible User
        home: /opt/ansible-pct
        shell: /bin/sh
        create_home: true
        system: true

    - name: Create .ssh directory
      ansible.builtin.file:
        path: /opt/ansible-pct/.ssh
        state: directory
        owner: ansible
        group: ansible
        mode: "0700"

    - name: Generate SSH key for ansible user
      community.crypto.openssh_keypair:
        path: /opt/ansible-pct/.ssh/ansible
        type: ed25519
        comment: "ansible"
        force: true
        mode: "0600"
        owner: ansible
        group: ansible

    - name: Set public key as authorized key
      ansible.builtin.copy:
        src: /opt/ansible-pct/.ssh/ansible.pub
        dest: /opt/ansible-pct/.ssh/authorized-keys
        remote_src: true
        owner: ansible
        group: ansible
        mode: "0600"

    - name: Add sudoers entry for ansible user
      ansible.builtin.copy:
        content: "ansible ALL = (root) NOPASSWD: /usr/sbin/pct"
        dest: /etc/sudoers.d/ansible_pct
        owner: root
        group: root
        mode: "0440"
