---
name: Basti Infrastructure Updates

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: read

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"
  push:
    paths:
      - "inventory/basti.yaml"
      - "playbooks/os-updates.yaml"
      - "playbooks/pihole-update.yaml"
      - "playbooks/setup-proxmox.yaml"

jobs:
  os-updates:
    runs-on: ubuntu-latest
    concurrency:
      group: basti-infra-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 60
    steps:
      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run PVE Pre-Requisites Install with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/basti.yaml playbooks/setup-proxmox.yaml

      - name: Run OS Updates with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/basti.yaml playbooks/os-updates.yaml

  app-updates:
    runs-on: ubuntu-latest
    concurrency:
      group: basti-infra-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 60
    steps:
      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run Pihole Update
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/basti.yaml playbooks/pihole-update.yaml
