---
name: Cloud Infrastructure Updates

permissions:
  actions: none
  checks: none # add custom pass/fail checks to the PR
  contents: read # git permissions to repo pull/push
  deployments: none
  issues: none # read/write to repo Issues
  packages: none # read/write to repo Packages (ghcr, gems, npm)
  pull-requests: read # read/write to repo PRs
  repository-projects: none
  security-events: none # read/write to repo Security tab API
  statuses: read # read/write to repo custom statuses and checks

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 0"
  push:
    paths:
      - ".github/workflows/cloud.yml"
      - "inventory/cloud.yaml"
      - "playbooks/os-updates.yaml"
      - "playbooks/pihole-update.yaml"
      - "playbooks/nextcloud-update.yaml"
      - "playbooks/mailcow-update.yaml"
      - "playbooks/docker-prune.yaml"
      - "playbooks/setup-proxmox.yaml"
      - "playbooks/setup-compose.yaml"

jobs:
  os-updates:
    runs-on: ubuntu-latest
    concurrency:
      group: cloud-infra-os-updates-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          extra-packages: "paramiko"
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run Proxmox VE and Quorum Updates
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/cloud.yaml -l pve:quorum playbooks/os-updates.yaml

      - name: Run PVE Pre-Requisites Install with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/cloud.yaml -l pve playbooks/setup-proxmox.yaml

      - name: Run LXC Pre-Requisites Install with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/cloud.yaml -l compose playbooks/setup-compose.yaml

      - name: Run VM and LXC OS Updates
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/cloud.yaml -l !pve playbooks/os-updates.yaml

  app-updates:
    runs-on: ubuntu-latest
    concurrency:
      group: cloud-infra-app-updates-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          extra-packages: "paramiko"
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run Pihole Update
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 1
          command: ansible-playbook -i inventory/cloud.yaml playbooks/pihole-update.yaml

      - name: Run Nextcloud Update
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 1
          command: ansible-playbook -i inventory/cloud.yaml playbooks/nextcloud-update.yaml

      - name: Run Mailcow Update
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 1
          command: ansible-playbook -i inventory/cloud.yaml playbooks/mailcow-update.yaml

  cleanup:
    runs-on: ubuntu-latest
    concurrency:
      group: cloud-infra-cleanup-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          extra-packages: "docker paramiko"
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run Docker Prune
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/cloud.yaml -l compose:mailcow playbooks/docker-prune.yaml
