---
name: Cloud Infrastructure Updates

permissions:
  actions: none
  checks: none # add custom pass/fail checks to the PR
  contents: read # git permissions to repo pull/push
  deployments: none
  issues: none # read/write to repo Issues
  packages: none # read/write to repo Packages (ghcr, gems, npm)
  pull-requests: read # read/write to repo PRs
  repository-projects: none
  security-events: none # read/write to repo Security tab API
  statuses: read # read/write to repo custom statuses and checks

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 0"
  push:
    paths:
      - "inventory/cloud.yaml"
      - "playbooks/os-updates.yaml"
      - "playbooks/pihole-update.yaml"
      - "playbooks/nextcloud-update.yaml"
      - "playbooks/mailcow-update.yaml"
      - "playbooks/docker-prune.yaml"

jobs:
  os-updates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@443da59188462e2402e2942686db5aa6723f4bed
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible paramiko

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run Proxmox VE and Quorum Updates
        run: |
          ansible-playbook -i inventory/cloud.yaml -l pve:quorum playbooks/os-updates.yaml

      - name: Run VM and LXC OS Updates
        run: |
          ansible-playbook -i inventory/cloud.yaml -l !pve playbooks/os-updates.yaml

  app-updates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@443da59188462e2402e2942686db5aa6723f4bed
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible paramiko

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run Pihole Update
        run: |
          ansible-playbook -i inventory/cloud.yaml playbooks/pihole-update.yaml

      - name: Run Nextcloud Update
        run: |
          ansible-playbook -i inventory/cloud.yaml playbooks/nextcloud-update.yaml

      - name: Run Mailcow Update
        run: |
          ansible-playbook -i inventory/cloud.yaml playbooks/mailcow-update.yaml

  cleanup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@443da59188462e2402e2942686db5aa6723f4bed
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible docker paramiko

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run Docker Prune
        run: |
          ansible-playbook -i inventory/cloud.yaml -l compose:mailcow playbooks/docker-prune.yaml
