---
name: Docker Compose Deploy

permissions:
  actions: none
  checks: none # add custom pass/fail checks to the PR
  contents: read # git permissions to repo pull/push
  deployments: none
  issues: none # read/write to repo Issues
  packages: none # read/write to repo Packages (ghcr, gems, npm)
  pull-requests: read # read/write to repo PRs
  repository-projects: none
  security-events: none # read/write to repo Security tab API
  statuses: read # read/write to repo custom statuses and checks

on:
  workflow_dispatch:
  push:
    paths:
      - "services/**"
      - ".github/workflows/compose-deploy.yml"

jobs:
  compose-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: compose-deploy-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible

      - name: Get changed and deleted service folders
        id: changed
        uses: tj-actions/changed-files@abdd2f68ea150cee8f236d4a9fb4e0f2491abf1b
        with:
          dir_names: true
          files: |
            services/**

      - name: Set affected hosts/services
        id: matrix
        run: |
          echo "hosts=$(echo "${{ steps.changed.outputs.all_changed_files }}" | grep -oE 'services/[^/]+/' | sort -u | sed 's|services/||;s|/||' | jq -R -s -c 'split("\n")[:-1]')" >> "$GITHUB_OUTPUT"
          echo "services=$(echo "${{ steps.changed.outputs.all_changed_files }}" | grep -oE 'services/[^/]+/[^/]+/' | sort -u | sed 's|services/||;s|/$||' | jq -R -s -c 'split("\n")[:-1]')" >> "$GITHUB_OUTPUT"

      - name: Run Compose Deploy Playbook
        if: steps.matrix.outputs.hosts != '[]'
        env:
          TARGET_HOSTS: ${{ steps.matrix.outputs.hosts }}
          TARGET_SERVICES: ${{ steps.matrix.outputs.services }}
          ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        run: |
          ansible-playbook -i inventory/home.yaml playbooks/compose-deploy.yaml -e "target_hosts=\"$TARGET_HOSTS\"" -e "target_services=\"$TARGET_SERVICES\""
