---
name: Docker Compose Deploy

permissions:
  actions: none
  checks: none # add custom pass/fail checks to the PR
  contents: read # git permissions to repo pull/push
  deployments: none
  issues: none # read/write to repo Issues
  packages: none # read/write to repo Packages (ghcr, gems, npm)
  pull-requests: read # read/write to repo PRs
  repository-projects: none
  security-events: none # read/write to repo Security tab API
  statuses: read # read/write to repo custom statuses and checks

on:
  workflow_dispatch:
  push:
    paths:
      - "services/**"
      - ".github/workflows/compose-deploy.yml"

jobs:
  compose-deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: compose-deploy-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible

      - name: Get changed and deleted service folders
        id: changed
        uses: tj-actions/changed-files@35dace0375d89e25e78db5f0a44127b61f4e5c20
        with:
          dir_names: true
          files: |
            services/**

      - name: Set affected hosts/services
        id: matrix
        run: |
          echo "hosts=$(echo "${STEPS_CHANGED_OUTPUTS_ALL_CHANGED_FILES}" | grep -oE 'services/[^/]+/' | sort -u | sed 's|services/||;s|/||' | jq -R -s -c 'split("\n")[:-1]')" >> "$GITHUB_OUTPUT"
          echo "services=$(echo "${STEPS_CHANGED_OUTPUTS_ALL_CHANGED_FILES}" | grep -oE 'services/[^/]+/[^/]+/' | sort -u | sed 's|services/||;s|/$||' | jq -R -s -c 'split("\n")[:-1]')" >> "$GITHUB_OUTPUT"
        env:
          STEPS_CHANGED_OUTPUTS_ALL_CHANGED_FILES: ${{ steps.changed.outputs.all_changed_files }}

      - name: Run Compose Deploy Playbook
        if: steps.matrix.outputs.hosts != '[]'
        env:
          TARGET_HOSTS: ${{ steps.matrix.outputs.hosts }}
          TARGET_SERVICES: ${{ steps.matrix.outputs.services }}
          ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        run: |
          ansible-playbook -i inventory/home.yaml playbooks/compose-deploy.yaml -e "target_hosts=\"$TARGET_HOSTS\"" -e "target_services=\"$TARGET_SERVICES\""
