---
name: Home Infrastructure Updates

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: read

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"
  push:
    paths:
      - ".github/workflows/home.yml"
      - "inventory/home.yaml"
      - "playbooks/os-updates.yaml"
      - "playbooks/filesystem-trim.yaml"
      - "playbooks/setup-compose.yaml"
      - "playbooks/docker-prune.yaml"

jobs:
  os-updates:
    runs-on: ubuntu-latest
    concurrency:
      group: home-infra-os-updates-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run OS Updates with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml playbooks/os-updates.yaml

  filesystem:
    runs-on: ubuntu-latest
    concurrency:
      group: home-infra-filesystem-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run Filesystem Trim with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml -l vms playbooks/filesystem-trim.yaml

  compose-setup:
    runs-on: ubuntu-latest
    concurrency:
      group: home-infra-compose-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          extra-packages: "docker"
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run Compose Setup with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml playbooks/setup-compose.yaml

  cleanup:
    runs-on: ubuntu-latest
    concurrency:
      group: home-infra-cleanup-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    needs: compose-setup
    steps:
      - uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
        with:
          persist-credentials: false

      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          extra-packages: "docker"
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Run Docker Prune with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml -l compose playbooks/docker-prune.yaml
