---
name: Home Infrastructure Updates

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: read

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"
  push:
    paths:
      - "inventory/home.yaml"
      - "playbooks/os-updates.yaml"
      - "playbooks/filesystem-trim.yaml"
      - "playbooks/setup-compose.yaml"
      - "playbooks/docker-prune.yaml"

jobs:
  os-updates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@97aeb3efb8a852c559869050c7fb175b4efcc8cf
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run OS Updates with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml playbooks/os-updates.yaml

  filesystem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@97aeb3efb8a852c559869050c7fb175b4efcc8cf
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run Filesystem Trim with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml -l vms playbooks/filesystem-trim.yaml

  compose-setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@97aeb3efb8a852c559869050c7fb175b4efcc8cf
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible docker

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run Compose Setup with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml playbooks/setup-compose.yaml

  cleanup:
    runs-on: ubuntu-latest
    needs: compose-setup
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@97aeb3efb8a852c559869050c7fb175b4efcc8cf
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible docker

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Run Docker Prune with Retry
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 3
          command: ansible-playbook -i inventory/home.yaml -l compose playbooks/docker-prune.yaml
