---
name: Linter

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: read

jobs:
  super-lint:
    name: Run Super Linter
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
          persist-credentials: true

      - name: Prettify code
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0
        continue-on-error: true
        with:
          prettier_options: --write **/*.{json,md,yaml,yml}
          github_token: ${{ secrets.GH_TOKEN }}
          only_changed: True

      - name: Run Super Linter
        uses: super-linter/super-linter/slim@033ea992a1aa5a0d4f868c2a3d401008ef218d9a
        continue-on-error: true
        env:
          VALIDATE_ALL_CODEBASE: true
          FIX_GITHUB_ACTIONS_ZIZMOR: true
          FIX_JSON_PRETTIER: true
          FIX_BIOME_FORMAT: true
          FIX_BIOME_LINT: true
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Commit and push linting fixes
        # Run only on:
        # - Pull requests
        # - Not on the default branch
        if: >
          github.event_name == 'pull_request' &&
          github.ref_name != github.event.repository.default_branch
        uses: stefanzweifel/git-auto-commit-action@547c1409cec143c754e148a6fbdfa359db836cf6
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "chore: fix linting issues"
          commit_user_name: super-linter
          commit_user_email: super-linter@super-linter.dev

  packer-validate:
    name: Validate Packer Templates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
          persist-credentials: true

      - name: Setup Packer
        uses: hashicorp/setup-packer@76e3039aa951aa4e6efe7e6ee06bc9ceb072142d
        with:
          version: "latest"

      - name: Validate Packer Templates
        continue-on-error: true # Skip failure to allow other jobs to complete
        run: |
          # Find all packer template files and validate them
          find ./packer -name "*.pkr.hcl" | while read -r template; do
            echo "Validating $template"
            packer init "$template"
            packer validate -syntax-only "$template"
          done
