---
name: Linter

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: read

jobs:
  super-lint:
    name: Run Super Linter
    runs-on: ubuntu-latest
    concurrency:
      group: super-lint-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
          persist-credentials: true

      - name: Prettify code
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0
        continue-on-error: true
        with:
          prettier_options: --write **/*.{json,md,yaml,yml}
          github_token: ${{ secrets.GH_TOKEN }}
          only_changed: true

      - name: Run Super Linter
        uses: super-linter/super-linter/slim@67f5a37622d03e59f744a836fcfaf0cbe8a0b489
        continue-on-error: true
        env:
          VALIDATE_ALL_CODEBASE: true
          FIX_SHELL_SHFMT: true
          FIX_GITHUB_ACTIONS_ZIZMOR: true
          FIX_JSON_PRETTIER: true
          FIX_BIOME_FORMAT: true
          FIX_BIOME_LINT: true
          FILTER_REGEX_EXCLUDE: ^.*roles\/.*|^.*plugins\/.*
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Commit and push linting fixes
        # Run only on:
        # - Pull requests
        # - Not on the default branch
        if: >
          github.event_name == 'pull_request' &&
          github.ref_name != github.event.repository.default_branch
        uses: stefanzweifel/git-auto-commit-action@df21a760ddce5aca932ba20fa2ba4f17a182c39a
        with:
          branch: ${{ github.event.pull_request.head.ref || github.head_ref || github.ref }}
          commit_message: "chore: fix linting issues"
          commit_user_name: super-linter
          commit_user_email: super-linter@super-linter.dev

  packer-validate:
    name: Validate Packer Templates
    runs-on: ubuntu-latest
    concurrency:
      group: packer-validate-${{ github.ref }}
      cancel-in-progress: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    timeout-minutes: 60
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
          persist-credentials: true

      - name: Setup Packer
        uses: hashicorp/setup-packer@7e22a1322f99184aed11b12e1a7d9862203ca31a
        with:
          version: "latest"

      - name: Validate Packer Templates
        continue-on-error: true #  Skip failure to allow other jobs to complete
        run: |
          # Find all packer template files and validate them
          find ./packer -name "*.pkr.hcl" | while read -r template; do
            echo "Validating $template"
            packer init "$template"
            packer validate -syntax-only "$template"
          done
