---
name: Test SSH Connection

permissions:
  actions: none
  checks: none # add custom pass/fail checks to the PR
  contents: read # git permissions to repo pull/push
  deployments: none
  issues: none # read/write to repo Issues
  packages: none # read/write to repo Packages (ghcr, gems, npm)
  pull-requests: none # read/write to repo PRs
  repository-projects: none
  security-events: none # read/write to repo Security tab API
  statuses: read # read/write to repo custom statuses and checks

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "0 */6 * * *"
  push:
    paths:
      - "inventory/home.yaml"
      - "inventory/cloud.yaml"
      - "inventory/basti.yaml"
      - "playbooks/test-connection.yaml"

jobs:
  test-connection:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@bfc4944b43a5d84377eca3cf6ab5b7992ba61923
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible

      - name: Tailscale Login
        uses: tailscale/github-action@dea278bd44bcef18a8d421f079a1f1f50171ed63
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci

      - name: Test Connection for Cloud Hosts
        run: |
          ansible-playbook -i inventory/cloud.yaml playbooks/test-connection.yaml

      - name: Test Connection for Home Hosts
        run: |
          ansible-playbook -i inventory/home.yaml playbooks/test-connection.yaml

      - name: Test Connection for Basti Hosts
        run: |
          ansible-playbook -i inventory/basti.yaml playbooks/test-connection.yaml
