---
name: Test SSH Connection

permissions:
  actions: none
  checks: none # add custom pass/fail checks to the PR
  contents: read # git permissions to repo pull/push
  deployments: none
  issues: none # read/write to repo Issues
  packages: none # read/write to repo Packages (ghcr, gems, npm)
  pull-requests: none # read/write to repo PRs
  repository-projects: none
  security-events: none # read/write to repo Security tab API
  statuses: read # read/write to repo custom statuses and checks

on:
  workflow_dispatch:
  #schedule:
  #  - cron: "0 */6 * * *"
  push:
    paths:
      - "inventory/home.yaml"
      - "inventory/cloud.yaml"
      - "inventory/basti.yaml"
      - "playbooks/test-connection.yaml"

jobs:
  test-connection:
    runs-on: ubuntu-latest
    concurrency:
      group: test-connection-${{ github.ref }}
      cancel-in-progress: true
    timeout-minutes: 60
    steps:
      - name: Setup Ansible
        uses: ./.github/actions/setup-ansible
        with:
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Test Connection for Cloud Hosts
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 1
          command: ansible-playbook -i inventory/cloud.yaml playbooks/test-connection.yaml

      - name: Test Connection for Home Hosts
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 1
          command: ansible-playbook -i inventory/home.yaml playbooks/test-connection.yaml

      - name: Test Connection for Basti Hosts
        uses: nick-fields/retry@9417ab499314dfe692edb043ded2ff9b3f5f0a68
        with:
          timeout_seconds: 600
          max_attempts: 1
          command: ansible-playbook -i inventory/basti.yaml playbooks/test-connection.yaml
